body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

button {
  border-width: 0;
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 40px;
  margin: 20px 0;
}

form {
  width: 400px;
  margin: auto;
}

input, textarea {
  width: 300px;
}
label {
  display: block;
  text-align: left;
  font-weight: bold;
  width: 100%;
  padding-left: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  padding: 10px;
}

a:hover img {
  transform: scale(1.2)
}

#contact-form {
  padding-bottom: 20px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/1.webp");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img/2.webp");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-3 {
  background-image: url("img/3.webp");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-4 {
  background-image: url("img/4.webp");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-5 {
  min-height: 400px;
  text-align: center;
  color: #fff;
}

.text-wrapper {
  max-width: 600px;
  margin: auto;
}

.what-i-do-table {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.what-i-do-table td {
  padding: 10px 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px 30px;
}

.section-slogan {
  text-align: center;
  letter-spacing: 0.8em;
  font-family: monospace;
  margin: 0 10px 60px;
}

.stay-updated-box {
  width: 400px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.stay-updated-box a img {
  filter: invert(90%);
}

.stay-updated-box-underline {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 20px;
}

.contact-bg-img {
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.name-header {
  width: 100%;
  text-align: center
}

.top-header p {
  display: inline-block;
  padding: 2px 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}