body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

button {
  border-width: 0;
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 40px;
  margin: 20px 0;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 300px;
}
label {
  display: block;
  text-align: left;
  padding-left: 50px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  padding: 10px;
}

a:hover img {
  transform: scale(1.2)
}

#contact-form {
  padding-bottom: 20px;
}

#stay-updated-confirmation {
  color: #222;
}

.header-icons {
  width: 200px;
  display: inline-block;
  float: right;
  padding: 6px;
}

#top-header {
  width: 100%;
  top: 0;
  z-index: 999;
}

#my-vlog-section {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  overflow-x: scroll;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/4.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img/2.jpg");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-3 {
  background-image: url("img/3.jpg");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-4 {
  background-image: url("img/4.jpg");
  min-height: 600px;
  vertical-align: center;
}

.bgimg-5 {
  min-height: 400px;
  text-align: center;
  color: #fff;
}

.name-title {
  font-size: 32px;
  color: #fff;
  padding: 200px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;  
}

.frosted-container {
  color: #aaa;
  background-color:rgba(0,0,0,0.6);
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  margin-top: 400px;
  backdrop-filter: blur(2px);
}

.text-wrapper {
  max-width: 600px;
  margin: auto;
}

.what-i-do-table {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.what-i-do-table td {
  padding: 10px 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px 30px;
}

.section-slogan {
  text-align: center;
  letter-spacing: 0.8em;
  font-family: monospace;
  margin: 0 10px 60px;
}

.stay-updated-box {
  width: 400px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.stay-updated-box a img {
  filter: invert(90%);
}

.stay-updated-box-underline {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 20px;
}

.contact-me-frame {
  height: 600px;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
  background-image: url(./img/5.jpg);
  background-position: center;
  opacity: 0.5;
}

.contact-bg-img {
  position: relative;
  height: 100%;
  opacity: 0.4;
  left: 0;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.top-header p {
  display: inline-block;
  padding: 2px 20px;
  font-family: monospace;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


/* loading spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #222;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  margin: 20px auto;
  left: 0;
  right: 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}